<!DOCTYPE html>




<section class="post-head">
    <h2>Over-All Stats</h2>
    <small>            
        As on <time> <%=Date.today.to_s(:long)%></time>.
    </small>
</section>

<div class="row">

    <div class="col-25">
        <%= link_to 'Number of Casualties involved in Accidents', url_for(controller: :queries, action: :query4), remote: true %>
        <div id='q4-value'></div>
        <!--<button id="vehicleAge" type="submit" onclick="getVehiclesAge()">Get Average of Vehicles in accident </button>-->
</div>

    <div class="col-75">
        <%= link_to 'Number of Accidents Recorded in Database', url_for(controller: :queries, action: :query1), remote: true %>
        <!--<button id="accident" type="submit" onclick="getAccidents()">Get total Number of Accidents</button>-->
        <div id='q1-value'></div>
</div>
<!-- <div class="col-75">
<label id="getVehiclesAge"></label>
</div> -->

</div>  <!-- row >

<!-- <div class="row">
<div class="col-75">
<label id="getAccidents"></label>
</div>
</div> -->

<div class="row">

    <div class="col-25">
        <%= link_to 'Number of Vehicles involved in Accidents', url_for(controller: :queries, action: :query3), remote: true %>
        <!--<button id="casualties" type="submit" onclick="getCasualities()">Get total number of Casualities</button>-->
        <div id='q3-value'></div>
</div>

    <div class="col-75">
        <%= link_to 'Average Age of Vehicles involved in Accidents', url_for(controller: :queries, action: :query5), remote: true %>
        <!--<button id="vehicle" type="submit" onclick="getVehicles()">Get total number of Vehicles</button>-->
        <div id='q5-value'></div>
</div>
<!-- <div class="col-75">
<label id="getCasualities"></label>
</div> -->

</div> <!-- row >

<!-- <div class="row">
<div class="col-75">
<label id="getVehicles"></label>
</div>
</div> -->


