<section class="post-body">
  <p>

    <table style="width: 100%">
      <thead>
      <tr>
        <% @query2.columns.each do |col| %>
        <th><%= col %></th>
        <%end%>
      </tr>
      </thead>

      <tbody>
      <% @query2.rows.each do |row| %>
        <tr>
            <!-- <td><%= row[0] %></td> -->
            <td><%= link_to row[0],  url_for(controller: :queries, action: :accident, :aid => row[0]) %></td>
            <% for c in 2..@query2.columns.length %>
                <td><%= row[c-1] %></td>
            <%end%>
          
        </tr>
      <% end %>
      </tbody>
    </table>


    <!-- <OL class="records" start = <%=params[:page].to_i*10+1%> >
        <% for q in 1..@query2.rows.length %>
            <LI> <%=  @query2.rows[q-1][0]   %>
        <% end %>
    </OL> -->

    <small>
        <%= link_to "NEXT 10 tuples", url_for(controller: :queries, action: :query2, :page => params[:page].to_i+1) %>
    </small>
  </p>

</section>

