<!DOCTYPE html>
<html>
  <head>
    <title>RoadSafety</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <header>
      <h1>Road Safety Database</h1>
      	
      		<% if @user %>
      		<%= @user.email %>
      		<% end %>

    </header>


  <% if params[:page] == nil %>
  <% page = -1 %>
  <% month = 1 %>
  <% params[:page] = page.to_s %>
  <% params[:month] = month.to_s %>
  <% end %>


 <ul>
  <li><%= link_to 'Home',  url_for(controller: :queries, action: :index) %></li>
  <li><%= link_to 'Map',  url_for(controller: :queries, action: :map, :month => params[:month].to_i+1) %></li>
  <li><%= link_to 'Charts',  url_for(controller: :queries, action: :chart) %></li>
  <li><%= link_to 'Records',  url_for(controller: :queries, action: :query2, :page => params[:page].to_i+1) %></li>
  <li style="float:right; display: block;  ">
       <% if @user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :posts %>
      <% else  %>
      <%= link_to 'Sign In', create_user_session_path, method: :posts %>
      <% end %>
  </li>
   <li style="display: block;    float: right;padding: 4px">
    <!-- <input type="text" id="aid" placeholder="Search Accident ID.."> -->
    <%= form_tag(search_path, method: 'post', remote: true) do %>
    <%= text_field_tag :search, params[:search] %></li>
    <!-- <li style="display: block;    float: right;padding: 4px"><%= submit_tag "Search" %> -->
  <% end %>
  </li>
</ul> 

  


    <div id="container">
    	<article>
    		<section class="post-body">

    			<%= yield %>

		    </section>
		</article>
	</div>  <!-- Container -->

    <footer>
      <p>&copy;2018 &bull; Group29DBMS</p>
    </footer>

  </body>
</html>
<script>
  function submit() {
    var val = document.getElementById("aid").value;
    console.log($('#aid'), val);
  }
</script>